@import url("https://fonts.googleapis.com/css2?family=Archivo&family=DM+Serif+Display&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadeIn 1.5s;
  background: #faebd7;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 5vmin;
}

p {
  font-family: "Archivo", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* button styles */

button {
  margin: 1em;
  padding: 1em 2em;
  background: transparent;
  border: 1px solid #000;
  border-radius: 40px;
}

button:enabled {
  margin: 1em;
  padding: 1em 2em;
  background: transparent;
  border: 1px solid #000;
  border-radius: 40px;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background: #000;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* end button styles */

/* form styles */

form {
  max-width: 64em;
  margin: auto;
  padding: 2vmin 1vmin 1vmin 1vmin;
  border: black solid 1px;
}

label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 0 0;
  width: 250px;
  text-align: center;
}

input {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

select {
  margin: .5em;
  padding: 1em 2em;
  background: transparent;
  border: 1px solid #000;
  border-radius: 40px;
  cursor: pointer;
}

/* end form styles */

/* tables styles */

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width: 64em;
  margin: auto;
  padding: 2%;
}

#customers td,
#customers th {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fa8072;
  color: white;
}

/* end table styles */

/* footer styles */

#canvas {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

/* end footer styles */

/* keyframes */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}